<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjB386rQkFc1roS-z7RpKAcU33XUuyYtE</string>
	<key>GCM_SENDER_ID</key>
	<string>195673986340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ealaauser.com.ealaaUserr</string>
	<key>PROJECT_ID</key>
	<string>wayflutter-8410d</string>
	<key>STORAGE_BUCKET</key>
	<string>wayflutter-8410d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195673986340:ios:3318a9d87e53430b7c0fb1</string>
	<key>DATABASE_URL</key>
	<string>https://wayflutter-8410d-default-rtdb.firebaseio.com</string>
</dict>
</plist>